<router-outlet></router-outlet>
<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <form #f="ngForm" (ngSubmit)="add(f)">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" >Nombre tarea</label>
          <input type="text" class="form-control" name="tarea" ngModel #tarea="ngModel" required="">
          <div id="tarea" class="form-text">El nombre de la tarea</div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!f.valid">Agregar</button>
      </form>

    </div>
  </div>
  <div class="row mt-4" *ngIf="list.length >0">
    <div class="col">
      <div class="table">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
            <th></th>
            <th>Tarea</th>
            <th>Fecha</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let item of list;let i=index">
              <td>{{i+1}}</td>
              <td>
                <span *ngIf="!item.isEdit;else act"> {{item.tarea}}</span>
                <ng-template #act>
                  <input [(ngModel)]="item.tarea" name="tarea" id="tarea"
                    class="form-control" type="text" />
                </ng-template>

              </td>
              <td>
                {{item.fecha}}
              </td>
              <td>
                <button type="button" class="btn btn-icons btn-rounded btn-outline-primary btn-sm"
                *ngIf="!item.isEdit" (click)="item.isEdit = true">Editar</button>

              <div *ngIf="item.isEdit">

                <button type="button" class="btn btn-icons btn-rounded btn-outline-success btn-sm"
                  (click)="saveEdit(item)">Guardar</button>

                <button type="button" class="btn btn-icons btn-rounded btn-outline-danger btn-sm"
                  (click)="item.isEdit = false">Cerrar</button>
              </div>
                <button type="button" class="btn btn-rounded btn-outline-danger btn-sm ml-2" *ngIf="!item.isEdit" (click)="del(item)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
